@{
    ViewData["Title"] = "Search Employee Monthly Report";
    var employees = ViewData["Employees"] as SelectList;
}

<h2>Search Employee Monthly Report</h2>
<a asp-action="MultiReport" asp-controller="Report">All Reports</a>

@await Component.InvokeAsync("ReportSearch")

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
