@model DataLayer.Entities.AttendanceTable

@{
    ViewData["Title"] = "Create Attendance";
    var today = DateTime.Today;
}

<h1>Add Attendance</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="EmployeeId" class="control-label"></label>
        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.Employees"></select>
    </div>



    <div class="form-group">
        <label asp-for="AttendanceTime" class="control-label"></label>
        <input asp-for="AttendanceTime" type="time" class="form-control" placeholder="HH:mm" />
        <span asp-validation-for="AttendanceTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartureTime" class="control-label"></label>
        <input asp-for="DepartureTime" type="time" class="form-control" placeholder="HH:mm" />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>



    <div class="form-group">
        <label asp-for="Date" class="control-label">Date</label>
        <input asp-for="Date" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
